* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "poppins", sans-serif;
    /* background-color: #F55D3E; */
    background-image: url(https://i.ytimg.com/vi/iQVpRxUwi8U/maxresdefault.jpg);
}

/* nav bar start */

.nav {
    background-color: #F7CB15;
    /* width: 100vw; */
    max-height: 50px;
    position: sticky;
    top: 0;
    padding: 1em 14px;
    color: white;
    text-align: center;
}

.navitem {
    display: inline-block;
    margin: 16px;
    padding-right: 2em;
}

.items {
    display: flex;
    justify-content: flex-end;
}

.dropdown:hover .dropitem {
    display: block;
}

.dropitem {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: grey;
}

.dropdown {
}

/* nav bar end */

/* spaceship start */

.spaceship {
    height: 100vh;
}

.spaceinfo {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 60%;
    margin: 10%;
    grid-template-areas: 
    "spaceintro spaceipsum1 spaceipsum1"
    "spaceintro spaceipsum2 spaceipsum3";
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    border: 5px solid white;
    background-color: #878E88;
    object-fit: cover;
}

.spaceintro {
    grid-area: spaceintro;
    text-align: left;
    color: white;   
}

.spaceipsum1 {
    grid-area: spaceipsum1;
    justify-items: center;
    border-bottom: 3px solid white;
    text-align: center;
    color: white;
}

.spaceipsum2 {
    grid-area: spaceipsum2;
    font-size: 14px;
    color: white;
}

.spaceipsum3 {
    grid-area: spaceipsum3;
    font-size: 14px;
    color: white;
}

/* end of spaceship */
/* start of features */

.features {
    display: flex;
    text-align: center;
    padding: 3em;
    background-color: #F7CB15;
}

.feature1 {
    background-color:white;
    width: 33.33%;
    height: 400px;
    padding: 1em;
    margin: 0px 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #888888;
}

.feature2 {
    background-color:white;
    width: 33.33%;
    height: 400px;
    padding: 1em;
    margin: 0px 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #888888;
}

.feature3 {
    background-color: white;
    width: 33.33%;
    height: 400px;
    padding: 1em;
    margin: 0px 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #888888;
}

.featurebutton {
    background-color: #F55D3E;
    border: none;
    width: 90%;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 70px
}

.featurecopy {
    margin-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 20px
}
/* some cool text start */

.somecooltext {
    background-color: #F55D3E;
    height: 500px;
    padding: 50px;
    color: white;
}

.cooltext {
    margin-bottom: 50px;
    margin-top: 80px;
    font-size: 3em;
}

/* sick ass gradiant happens HERE */

.sickassgradient {
    background-image: linear-gradient(to top right, #F7CB15 , #F55D3E);
    height: 500px;
    text-align: right;
    color: white;
    padding-right: 50px;
}

.headerslick {
    font-size: 3em;
    margin-bottom: 50px;
    padding-top: 80px;
}

.textgradient {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.textcontainer {
    position: relative;
    z-index: 0;
}

.spinbutton {
    z-index: 2;
    background-color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 525px;
    margin-left: 50px;
    cursor: pointer;
    border: 1px dotted #F7CB15
}

.spinbutton:hover {
    animation: spin 2s ease-in-out;
}

@keyframes spin {
    from {
        transform: translateX(0px) rotate(0deg);
    }
    to {
        transform: translateX(200px) rotate(360deg);
    }
}

.imagegrid{
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "thugger jayski jayswim"
    "jaybike dojarico teejay";
    justify-items: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.thugger {
    grid-area: thugger;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.thugger:hover {
    transform: scale(1.5);
}

.jayski {
    grid-area: jayski;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.jayswim {
    grid-area: jayswim;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.jaybike {
    grid-area: jaybike;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.dojarico {
    grid-area: dojarico;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.teejay {
    grid-area: teejay;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

/* subscribe portion here */

.contact {
    background-color: #F55D3E;
    height: 300px;
    padding: 50px;
    color: white;
}

.contactlink {
    margin: 10px;
    padding-left: 75px;
}

.contactinfo {
    list-style-type: none;
    margin-top: 50px;
}

.contactcontainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px 550px 50px 550px;
}

.repeatfour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 3px solid #F7CB15;
    color: white;
}

.repeatfour:hover {
    cursor: pointer;
}

.email {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    padding-left: 30px;
}